snippet com_h "Comment place holder" b
/* <++> */
endsnippet

snippet com "Comment." b
/* $0 */
endsnippet

snippet comm "Comment with multi lines" b
/*
 * $1
 */
$0
endsnippet

snippet apue "Include apue.h" b
#include "${1:apue.h}"
endsnippet
