snippet com_h "Comment place holder" b
/* <++> */
endsnippet

snippet com "Comment." b
/* $0 */
endsnippet

snippet comm "Comment with multi lines" b
/*
 * $1
 */
$0
endsnippet

snippet apue "Include apue.h" b
#include "${1:apue.h}"
endsnippet

snippet op "NOTIFY `open` and `close`" b
open${1:<++>}
$3
close${2:<++>}
endsnippet

snippet elog "esl_log" b
esl_log(${1:ESL_LOG}, ${2:"LOG HERE.\n"})
endsnippet
